<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basics</title>
</head>

<body>
    <style>
        .box1 {
            background-color: aqua;
            height: 100px;
            width: 100px;
        }

        /* css for v-cloak */
        [v-cloak] {
            display: none;
        }
    </style>
    <!-- create a div where vue elements will be added -->
    <!-- in order to show vue elements after complete render we use v-cloak -->
    <div id="app" v-cloak>
        <!-- in order to show a variable we use double curly braces -->
        {{greeting}}
        <!-- vue directives are a way to connect vue elements in out html page they are like html attribute only to differetiate with html attribute they have v- prefix that will tell vue its a directive-->
        <!-- v-model is a directive used to bind data to a variable -->
        <!-- but when we change the input it changes the greeting value too its called two way data binding -->
        <input v-model="greeting" />
        <!-- v-show works like v-if only just the differece is that v-show changes display -->
        <div v-show="isVisible" class="box1"></div>
        <!-- another directive v-if that works like if condition in order to display this v-if condition should be true -->
        <div v-if="isVisible" class="box1"></div>
        <!-- works like normal if else condition, only one box will be displayed according to which condition happens to be -->
        <!-- true first -->
        <div v-else-if="isShow" class="box1"></div>
        <div v-else class="box1"></div>
        <div></div>
    </div>
    <!-- add vue3 -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- vue code is written in <script></script> -->
    <script>
        // everything inside createApp called options object either its a function or variable, it will live here that we are going to use in html
        let app = Vue.createApp({
            // create a function data
            data: function () {
                return {
                    // return a variable
                    greeting: 'hello world',
                    isVisible: true,
                    isShow: true
                }
            }
        });
        // tell this vue application to mount somewhere in div with id app
        app.mount("#app");
    </script>
</body>

</html>