<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basics</title>
</head>

<body>
    <style>
        .box1 {
            background-color: aqua;
            height: 100px;
            width: 100px;
        }

        /* css for v-cloak */
        [v-cloak] {
            display: none;
        }

        input {
            margin: 10px;
            display: block;
        }
    </style>
    <div id="app" v-cloak>
        <login-form />

    </div>
    <!-- add vue3 -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- vue code is written in <script></script> -->
    <script>
        // everything inside createApp called options object either its a function or variable, it will live here that we are going to use in html
        let app = Vue.createApp({
            // create a function data
            data: function () {
                return {
                    // return a variable
                    greeting: 'hello world',
                    isVisible: false,
                    isShow: true
                }
            },
            // methods is an object for adding custom functions
            methods: {
                toggleButton() {
                    // in order to access the variables in everywhere in vue application we use this method
                    return this.isVisible = !this.isVisible;
                },
                greet() {
                    console.log(this.greeting)
                },
                // if we want to pass a paramter
                greet(greeting) {
                    console.log(greeting)
                }
            },
        });
        // in order to create custom components we use app.component
        app.component('login-form', {
            // a template to render like html
            // prevent page to refresh using prevent modifier
            // data of this component will be available in this component only, not globally
            template: `
              <form @submit.prevent='handleSubmit'>
                <h1>{{title}}</h1>
                <input  type="email" v-model="email" />
                <input type="password" v-model="password" />
                <button type="submit"> Submit</button>
                </form>
              `,
            //   structure will be same like app as this is also a component
            data: function () {
                return {
                    title: 'login-form',
                    email: '',
                    password: '',
                }
            },
            methods: {
                handleSubmit(e) {
                    // prevent page to refresh
                    e.preventDefault;
                    console.log('submitted', this.email, this.password)
                }
            }
        })
        app.mount("#app");
    </script>
</body>

</html>